TESTNET_ROOT_ACCOUNT='{"account_id":"","public_key":"","private_key":""}'
TESTNET_CONTRACT_ACCOUNT='{"account_id":"","public_key":"","private_key":""}'
TESTNET_OWNER_ID='gnaor.testnet'
TESTNET_TOTAL_SUPPLY=100000000000000000000000000000000
TESTNET_METADATA_TOKEN_NAME='PARAS'
TESTNET_METADATA_TOKEN_SYMBOL='PARAS'
TESTNET_METADATA_TOKEN_ICON='data:image/svg+xml'
TESTNET_METADATA_TOKEN_REFERENCE='None'
TESTNET_METADATA_TOKEN_REFERENCE_HASH='None'
TESTNET_METADATA_TOKEN_DECIMALS=24
